<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <title>AdornBox</title>
  </head>
  <body>
    <div class="main-container">
      <main class="home-container">
        <div class="wrapper">
          <div id="main-navbar" class="ab-navbar-shadow"></div>
          <div class="cart-container">
            <h2 class="au-heading cart-heading">My Cart(2)</h2>
            <div class="cart-detail-container">
              <div class="card card-horizontal cart-product">
                <div class="product-image-container">
                  <img
                    class="product-image"
                    src="https://picsum.photos/300/200/?blur"
                    alt="product-image"
                  />
                </div>
                <div class="card-horizontal-body">
                  <div class="card-title">Founding Titan</div>
                  <div class="card-text">
                    Despite having the ability to control the Titans, no
                    Founding Titan of royal blood after the Great Titan War
                    expressed any desire to get rid of the Titans outside the
                    Walls, even if the inheritor had expressed that desire
                    previously.
                  </div>
                  <button
                    class="button button-contained-primary button-full-width"
                  >
                    REMOVE FROM CARD
                  </button>
                  <button
                    class="button button-outlined-primary button-full-width"
                  >
                    MOVE TO WISHLIST
                  </button>
                </div>
              </div>
              <div class="card">
                <div class="card-title">Eren Yeager</div>
                <div class="card-text">
                  Eren Yeager was a former member of the Survey Corps. He was
                  the main protagonist of Attack on Titan. He lived in
                  Shiganshina District,
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
