<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <title>AdornBox</title>
  </head>
  <body>
    <div class="main-container">
      <main class="home-container">
        <div class="wrapper">
          <div id="main-navbar" class="ab-navbar-shadow"></div>
          <div class="cart-container">
            <h2 class="au-heading cart-heading">My Cart(2)</h2>
            <div class="cart-detail-container">
              <div class="card card-horizontal cart-product">
                <div
                  class="product-image-container ab-product-container ab-display-flex"
                >
                  <img
                    class="product-image"
                    src="https://picsum.photos/300/200/?blur"
                    alt="product-image"
                  />
                </div>
                <div class="card-horizontal-body ab-card-body">
                  <div class="ab-information-section">
                    <div class="card-text">Men Premium Jacket</div>
                    <div class="card-title">
                      2000 Rs
                      <span class="au-text"><s>3000 Rs</s></span>
                    </div>
                    <div class="card-title au-secondary-default-text">
                      50% off
                    </div>
                    <div class="ab-quantity-section ab-text-md ab-display-flex">
                      Quantity:
                      <div class="ab-quantity-buttons ab-display-flex">
                        <span class="ab-text-md ab-quantity-action">-</span>
                        <span class="ab-text-md ab-quantity-text">1</span>
                        <span class="ab-text-md ab-quantity-action">+</span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="button button-contained-primary button-full-width"
                  >
                    REMOVE FROM CART
                  </button>
                  <button
                    class="button button-outlined-primary button-full-width"
                  >
                    MOVE TO WISHLIST
                  </button>
                </div>
              </div>
              <div class="card ab-card-product-summery">
                <div class="card-title">PRICE DETAILS</div>
                <hr class="typography-divider" />
                <div class="card-text">
                  <table class="ab-price-table">
                    <tr>
                      <td class="ab-text-md">Price(2 Items)</td>
                      <td class="ab-text-md">Rs 4999</td>
                    </tr>
                    <tr>
                      <td class="ab-text-md">Discount</td>
                      <td class="ab-text-md">Rs 1999</td>
                    </tr>
                    <tr>
                      <td class="ab-text-md">Delivery Charges</td>
                      <td class="ab-text-md">Rs 499</td>
                    </tr>
                  </table>
                </div>
                <hr class="typography-divider" />
                <div>
                  <table class="ab-price-table">
                    <tr class="card-title">
                      <td class="ab-text-md">TOTAL AMOUNT</td>
                      <td class="ab-text-md">Rs 3499</td>
                    </tr>
                  </table>
                </div>
                <hr class="typography-divider" />
                <div class="ab-card-footer ab-display-flex">
                  <p class="ab-text-md">You will save ₹1999 on this order</p>
                  <button
                    class="button button-contained-primary button-full-width"
                  >
                    PLACE ORDER
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
