.product-wrapper {
  display: grid;
  grid-template-columns: 22% 1fr;
  grid-template-areas: "sidebar products";
  gap: 1rem;
  row-gap: 4rem;
  column-gap: 4rem;
}

@media only screen and (max-width: 500px) {
  .product-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "products";
  }
}

.ab-sidebar {
  grid-area: sidebar;
  gap: 4rem;
  background-color: var(--active-color);
  min-height: 100vh;
  box-shadow: var(--default-color) 0px 1px 2px 0px;
  padding: 4rem;
}

.ab-products {
  grid-area: products;
  padding: 4rem;
  gap: 4rem;
}

.ab-price-range-filter {
  display: flex;
  gap: 2rem;
}

.ab-filter-header {
  justify-content: space-between;
}

.ab-price-range {
  width: 100%;
}

.ab-price-container {
  justify-content: space-between;
}

.ab-product-list {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
