<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <title>AdornBox</title>
  </head>
  <body>
    <div class="main-container">
      <main class="home-container">
        <div class="wrapper">
          <div id="main-navbar" class="ab-navbar-shadow"></div>
          <div class="cart-container"></div>
        </div>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
